<!DOCTYPE html>
<html>
<head>
    <title>Upload succesvol</title>
</head>
<body>
    <h1>Upload succesvol!</h1>
    <p>Bestand is succesvol geupload. Zie beneden voor de resultaten van de transformatie.</p>
    <div>
        <p>Output:</p>
            <pre>
                {{ stdout }}
            </pre>
    </div>

    <div>
        <a href="{{ url_for('view_turtle') }}" target="_blank">
            <button> View turtle</button>
        </a>

        <a href="{{ url_for('retrieve_file', file_id=file_id, model_name=model_name) }}" download>
            <button> Download model</button>
        </a>
    </div>
</body>
</html>
