registry=https://nexus.belastingdienst.nl/nexus/repository/npm
phantomjs_cdnurl=https://nexus.belastingdienst.nl/nexus/repository/yjs-raw/phantomjs
sass_binary_site=https://nexus.belastingdienst.nl/nexus/repository/yjs-raw/node-sass
chromedriver_cdnurl=https://nexus.belastingdienst.nl/nexus/repository/yjs-raw/chromedriver
strict-ssl=false